/*Screen             = width x height
  Samsung Galaxy S8+ = 360   x 740px
  Surface Duo        = 540   x 720px
  Surface Pro 7      = 912   x 1368px
  Desktop*/

body{
    background-color:        black;
    color:                   black;
    }

:root {
    /* Samsung Galaxy S8+ */
    --s8pl-main-color:       rgb(194, 194, 253);
    --s8pl-color:            rgb(0, 0, 0);
    --s8pl-b-color:          rgb(0, 0, 0);

    /* Surface Duo */
    --s-duo-main-color:      rgb(194, 194, 253);
    --s-duo-color:           rgb(0, 0, 0);
    --s-duo-b-color:         rgb(0, 0, 0);

    /* Surface Pro 7 */
    /*--s-p-7-main-color:      rgb(194, 194, 253);*/
    --s-p-7-color:           rgb(0, 0, 0);
    --s-p-7-b-color:         rgb(0, 0, 0);

    /* Theme Colors */

    --h-c-bg:                rgba(0, 0, 0, 0.8);
    --fl-c:                  rgb(255, 0, 0);
    --rl-c:                  rgb(255, 255, 255);
    --h-b-c:                 rgba(0, 0, 0, 0);
    --sp-c:                  rgb(0, 0, 0, 0);
}
